{% comment %} https://isotropic.co/how-to-marquee-elements/ {% endcomment %}

{%- liquid
  assign color_bg = section.settings.color_bg
  assign color_text = section.settings.color_text
-%}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<style type="text/css">
  #shopify-section-{{ section.id }} {
    background-color: {{ color_bg }};
    color: {{ color_text }};
  }
  #shopify-section-{{ section.id }} .rte  * {
    color: {{ color_text }};
  }
  .marquee-wrap {
    --marquee-space: 10vw;
    display: grid;
    align-content: flex-start;
    align-content: center;
    overflow: hidden;
    gap: var(--marquee-space);
    width: 100%;
  }
  .marquee {
    --marquee-duration: 60s;
    --marquee-gap: var(--marquee-space);
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--marquee-gap);
    transform: skewY(-3deg);
  }
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--marquee-gap);
    min-width: 100%;
    animation: scroll var(--marquee-duration) linear infinite;
  }
  @media screen and (max-width: 749px) {
    .marquee__group {
      gap: var(--block-offset);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }
  .marquee__group img {
    max-width: clamp(10rem, 1rem + 28vmin, 20rem);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1rem;
  }
  .marquee--borders {
    padding-block: 0.75rem;
  }
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: calc(var(--marquee-duration) / -2);
  }
  @keyframes scroll { 0% { transform: translateX(0); } 100% { transform: translateX(calc(-100% - var(--marquee-gap))); } }

  .marquee__item {
    width: 50vw;
  }
  .marquee__item * {
    color: var(--color);
  }
  @media screen and (min-width: 750px) {
    .marquee__item {
      width: 30vw;
    }
  }
  .marquee__item strong {
    font-family: var(--font-subheading-family);
    font-style: var(--font-subheading-style);
    font-weight: var(--font-subheading-weight);
  }
  .marquee__item h1,
  .marquee__item h2,
  .marquee__item h3,
  .marquee__item h4,
  .marquee__item h5,
  .marquee__item h6 {
    margin-bottom: 0;
  }

  .marquee__item--bg {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px;
    border-radius: var(--block-radius);
    overflow: hidden;
    background-color: var(--bg);
  }
  @media screen and (min-width: 750px) {
    .marquee__item--bg {
      min-height: 200px;
    }
  }
</style>

{%- capture marquee_content -%}
  {% for block in section.blocks %}
    {%- liquid
    assign color_background = block.settings.color_background
    assign color_text = block.settings.color_text
    -%}
    <div
      {% unless color_background == blank %}
        class="marquee__item marquee__item--bg"
        style="--bg: {{ color_background }}; --color: {{ color_text }}"
      {% else %}
        class="marquee__item"
        style="--color: {{ color_text }}"
      {% endunless %}
      {{ block.shopify_attributes }}>
      <div class="rte">{{ block.settings.richtext }}</div>
    </div>
  {% endfor %}
{%- endcapture -%}

<div class="section-{{ section.id }}-padding">
  <div class="marquee-wrap">
    <div class="marquee marquee_hoverpause marquee--borders" style="--duration: 100s;   transform: skewY(-0deg);">
      <div class="marquee__group">
        {{ marquee_content }}
      </div>

      <div aria-hidden="true" class="marquee__group">
        {{ marquee_content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Marquee",
  "tag": "section",
  "class": "section section-marquee",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color",
      "default": "#f6dcd8"
    },
    {
      "type": "header",
      "content": "Animation settings"
    },
    {
      "type": "range",
      "id": "rotation_duration",
      "min": 2,
      "max": 40,
      "step": 1,
      "unit": "sec",
      "label": "Rotation duration",
      "default": 10
    },
    {
      "type": "range",
      "id": "rotation_duration_mobile",
      "min": 2,
      "max": 40,
      "step": 1,
      "unit": "sec",
      "label": "Rotation duration on mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_background",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text color",
          "default": "#b35126"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "richtext": "<h2>Introducing Clémence</h2><p>by Rue Madame</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "richtext": "<p>\"Clémence by rue Madame\" is a new concept store that celebrates the Parisian style, a forever young and fun-loving spirit.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "richtext": "<p>The collection brings freshness and newness to the modern women’s wardrobe with a non-stop stream of affordable mini collections that are relevant yet timeless.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "richtext": "<p>Fashion is a medium to express Clémence woman unique personality and enrich her multifaceted life.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "richtext": "<p>She always finds joie de vivre in her daily life. Clémence is your trusted girlfriend whom you love hanging out with for fashion advice.</p>"
          }
        },
      ]
    }
  ]
}
{% endschema %}
